<html>
<head>
	<!-- CSS AND JQUERY FILES -->
	<link rel="stylesheet" href="/assets/bootstrap-3.3-1.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title> Horta Hidroponica!</title>
</head>
<body>

	<div class="container">
		<h1 id="projectTitle"> HORTAS HIDROPONICAS </h1>
	</div>
	<!-- BACKGROUND -->
	<div><img src="/assets/img/green_leaves.png" class="bg">
		<div class="buttonSet">
			<div class="leftSide">
				<section>
					<% if (data !== '') { %>
						<p> Dados Incorretos. </p>
					<% } %>
					<button class="lined thin buttonConfig buttonLeft" id="homeButton">Já é cadastrado(a)?</button>
				</section>
			</div>
			<div class="rightSide">
				<section>
					<button class="lined thin buttonConfig buttonRight" id="homeButton"> Cadastre-se! </button>
				</section>
			</div>
		</div>
	</div>

	<div class="form">
		 <form class="login-form" method="POST" action="/auth/login">
	      <input type="email" placeholder="email" name="email">
	      <input type="password" placeholder="password" name="senha">
	      <button type="submit">LOGIN</button>
	    </form>
	</div>
	
</body>
<script src="/assets/js/main.js"></script>
</html>