<html>
<head>
	<!-- CSS AND JQUERY FILES -->
	<link rel="stylesheet" href="/assets/bootstrap-3.3-1.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title> Horta Hidroponica!</title>
</head>
<body>

	<nav class="navbar navbar-default navCustom">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">Hortas Hidroponicas</a>
    		</div>
    		<ul class="nav navbar-nav">
				<li class="active"><a href="#">Suas Hortas!</a></li>
				<li><a href="#">Procure</a></li>
   			 </ul>
   			<ul class="nav navbar-nav loginName navbar-right">
   				<li><a>Teste</a></li>
   			</ul>
  		</div>
	</nav>


	<div class="container hortas">

		<!--<form id="cadastroHorta" method="POST" action="/cadastroHorta">
			<button class="pull-right cadastraHorta"> <h3> Cadastre uma horta! </h3> </button>
		</form>-->

		<div class="container-fluid hortaFrame">
			<h2 class="text-center" style="margin-bottom: 5%">Escolha a horta que deseja analisar: </h2>
			<row>
				<!--<div class="col-lg-4 ">
					<div class="col-lg-12 hortaDisplay">
						<p class="text-center">teste</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="col-lg-12 hortaDisplay">
						<p class="text-center">teste</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="col-lg-12 hortaDisplay">
						<p class="text-center">teste</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="col-lg-12 hortaDisplay">
						<p class="text-center">teste</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="col-lg-12 hortaDisplay">
						<p class="text-center">teste</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="col-lg-12 hortaDisplay">
						<p class="text-center">teste</p>
					</div>
				</div>-->
			</row>
		</div>
	</div>
	
</body>
<script src="/assets/js/main.js"></script>
</html>