@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

body{
	width: auto;
	height: auto;
	font-family: 'Patrick Hand SC', cursive;
}


.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#homeButton{
	font-size: 30px !important;
}

.buttonRight{
	position: absolute;
	top: 30%;
	right: 30%;
	margin: 2px;

}

.buttonLeft{
	position: absolute;
	top: 30%;
	left: 30%;
	margin: 2px;
}

.lined.thin{
	border:solid 2px #41403E;
}

section{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    margin-bottom:3rem;
}

#homeButton{
      align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:0 1rem;
      transition:all 0.5s ease;
      color:#41403E;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

#homeButton:hover{
	box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

#projectTitle{
	font-size: 50px;
	text-decoration: underline;
}

.form {
	position: absolute;
	left: 28%;
	top: 45%;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: 'Patrick Hand SC', cursive;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}
.form button {
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #789220;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ffffff;
  color: black;
  transition:color 0.5s ease;
}

.navCustom{
  padding: 2% 0;
}

div .navbar-brand{
  font-size: 40px;
}

.navbar-nav li a, .loginName a{
  font-size: 30px;
}

.hortaFrame{
  margin-top: 10%;
}

.hortaDisplay{
  border: 1px black solid;
  margin-bottom: 5%;
  padding: 70px;
}

.leftSide p {
  margin-right: 30%; 
  color: red; 
  font-size: 20px;
}

.btnAdicionarHorta{
  margin: 0 45%;
  font-size: 30px;
}

#logoutButton{
  width: auto;
  font-size: 20px;
}

.hortaBox{
  border: 1px solid #ccc;
  padding: 5% 5%;
}